label {
    margin-top: 1rem;
    display: block;
}

input[type="text"] {
    display: block;
    height: 35px;
    width: 350px;
    outline: none;
    padding: 0.3rem;
    margin-top: 0.3rem;
    border-radius: 4px;
    border: 2px solid lightgray;
}