header {
    background-color: var(--light-black);
    color: var(--soft-white);
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 span {
    text-transform: uppercase;
}