@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --dark-blue: #020024;
  --dark-gray: #212129;
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}