:root {
  --dark-gray: #333533;
  --light-gray: #6c757d;
  --light-black: #242423;
  --soft-white: #E8EDDF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: var(--dark-gray);
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}